<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for [@course, @evaluation.component, @evaluation], url: @course, html: {role: :form} do |f| %>
  <% if @evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field form-inline">
    <%= f.number_field :mark , :class => "form-control input-sm ", :placeholder => "Add Mark"%>
    <%= f.submit "Add Mark", :class => "btn btn-primary btn-xs", :id => "add-mark-btn"%>
  </div>

  <div class="actions">
  </div>

<% end %>
