<div class="container">
	<div class="jumbotron">
		<h1 class="page-header" align="center">Gradster </br><small>The online grade calculator</small></h1>
		<p align="center"> Helps you organize your course grades so you don't have to. </p>
    </br>
    </br>
  </div>

  <!-- LOGIN BOX -->
   <div id="login-box" class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        
        <div class="panel-heading">
          <h2> Sign In </h2>
        </div>

        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row">
                <div class="col-md-12">
                  <form role="form">
                    <fieldset>
                      <hr class="colorgraph">
                      <div class="form-group">
                              <%= f.email_field :email, autofocus: true , :class => "form-control input-lg", :placeholder => "Email Address" %>
                      </div>
                      <div class="form-group">
                        <%= f.password_field :password, autofocusocomplete: "off", :class => "form-control input-lg", :placeholder => "Password"%> 
                      </div>
                      <span class="button-checkbox">
                        <input type="checkbox"> Remember me
                                  <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                        <a href="/users/password/new" class="btn btn-link pull-right">Forgot Password?</a>
                      </span>

                      <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                          </div>

                      </div>

                      </br>

                      <div class="col-md-12 control">
                          <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                              Don't have an account! 
                          <a href="#" onClick="$('#login-box').hide(); $('#signup-box').show()">
                              Sign Up
                          </a>
                          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), 
                            :class => "btn btn-sm btn-primary pull-right" %> </li>  
                          </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
          <% end %>
        </div>
      </div>
  </div>


  <!-- SIGN UP BOX -->
  <div id="signup-box" style="display:none;" class="col-md-8 col-md-offset-2 ">
      <div class="panel panel-default">        
        <div class="panel-heading">
          <h2>Sign Up <small>It's free and always will be.</small></h2>
        </div>
        <div class="panel-body">
          
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>             
                <div class="row">
                    <form role="form">
                      <div class="panel-body" >
                        <hr class="colorgraph">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                              <%= f.text_field :first_name , :class => "form-control input-lg", :placeholder => "First Name", :tabindex => "1" %>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <%= f.text_field :last_name , :class => "form-control input-lg", :placeholder => "Last Name", :tabindex => "2"%> 
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <%= f.text_field :profile_name , :class => "form-control input-lg", :placeholder => "Profile Name", :tabindex => "3"%>
                        </div>
                        <div class="form-group">
                           <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Email Address", :tabindex => "4" %>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                               <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password", :tabindex => "5" %>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Confirm Password", :tabindex => "6" %>
                            </div>
                          </div>
                        </div>
                       
                        <hr class="colorgraph">
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1">
                            <input name="commit" type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7">
                          </div>
                        </div>
                        </br>
                         <div class="col-md-12 control">
                          <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                              Already have an account?
                          <a href="#" onClick="$('#signup-box').hide(); $('#login-box').show()">
                              Sign in
                          </a>
                          </div>
                        </div>

                      </div>
                    </form>
                </div>
          <% end %>

        </div>
      </div>
  </div>

  </br>

</div>