<%= form_for [@course, @component] do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>f
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Component Name", :tabindex => "1" %>
  </div> </br>
  <div class="field text-center">
    <%= f.number_field :component_weight, :class => "form-control input-lg", :placeholder => "Component Weight", :tabindex => "1" %>
  </div>

  <div class="actions col-md-4 text-center">
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <%= f.submit :value => "Create Component", :class => "btn btn-primary", :tabindex => "7" %>
  </div>
<% end %>