<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @component.name %>
</p>

<p>
  <strong>Component weight:</strong>
  <%= @component.component_weight %>
</p>

<%= link_to 'Edit', edit_course_component_path(@component) %> |
<%= link_to 'Back', course_components_path %>
