<div class="well">
 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <form role="form">
            <h2>Sign Up <small>It's free and always will be.</small></h2>
            <hr class="colorgraph">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.text_field :first_name , :class => "form-control input-lg", :placeholder => "First Name", :tabindex => "1" %>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <%= f.text_field :last_name , :class => "form-control input-lg", :placeholder => "Last Name", :tabindex => "2"%> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.text_field :profile_name , :class => "form-control input-lg", :placeholder => "Profle Name", :tabindex => "3"%>
            </div>
            <div class="form-group">
               <%= f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Email Address", :tabindex => "4" %>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                   <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password", :tabindex => "5" %>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password", :tabindex => "6" %>
                </div>
              </div>
            </div>
           
            <hr class="colorgraph">
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <a href="/users/sign_in" class="btn btn-success btn-block btn-lg">Sign In</a>
              </div>
              <div class="col-xs-9 col-md-9">
                <input name="commit" type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <% end %>

</div>

</div>