<div class="title">
	<h2 class="page-header">Change your password</h2>
</div>

<div class="well">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div class="row">
		  <div class="col-md-4">
		  	<%= f.label :password, "New password", :class => "label label-default"%><br />
		    <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control input-sm" %>
		   </div> 
		</div>

	</br>

		<div class="row">
		  <div class="col-md-4 ">
		  	<%= f.label :password_confirmation, "Confirm new password", :class => "label label-default" %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control input-sm" %>
		  </div>
		</div>
	  </br>


	  <div><%= f.submit "Change my password", :class => "btn btn-primary" %></div>
	<% end %>
	</br>
	</br>

	<%= render "devise/shared/links" %>

</div>