<tr>
	<div class="component">
  	<li>
  		
		<div class="add-mark-btn">
			<%= link_to "Add Marks" ,new_course_component_evaluation_path(component.course, component, @evaluation), :class => 'btn btn-sm btn-info' %>
			</br>
		</div>

		<div class="container">
		    <div class="row">
		        <div class="col-md-11">
		            <div class="panel panel-primary">
		                
		                <div class="panel-heading clickable">
		                    <h3 class="panel-title">
		                        <strong> 
		    											<span class="expandable-title"> 
		    												<a href="/courses/<%=component.course.id%>/components/<%=component.id%>/edit">
		    												 <%=component.name%>:	<%= component.component_weight %>% 
		    												</a>
		    												<div class="component-grade"> <%= component.grade %>% </div>
		    											</span>
												    </strong> 
												</h3>
		                    <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
		                </div>

		                <div class="panel-body">
		                   <div id="marks">
										  		<ul>
										  			<% if component.evaluations.all.count == 0 %>
										  				<div id="add-mark-message"> Add some marks in! </div>
											  		<% else %>
											  			<strong> Marks: </strong> 
												  		<% component.evaluations.each do |eval| %>
												  			<li> 
												  				<%= eval.mark %>%  
												  				<%= link_to "Remove Mark", course_component_evaluation_path(eval.component.course,
												  				 		eval.component, eval), method: :delete %> 
												  			</li>
												  		<% end %>
											  		<% end %> 
										  		</ul>
										    </div>

											<div id="component-grading">
										  	<% unless comp_grade_weight == 0.0 %>
												  <em>Component Grade: <%= component.grade %></em> 
												  <br />
						  						<em> Component Weight Grade: <%= comp_grade_weight %>  </em>
													<% @course.grade += comp_grade_weight %>
										    	</br> Total Summation: <%= @course.grade %>
											 <% end %> 
				  						</div>
																	
		                </div>
		            </div>
		        </div>
		    </div>
			</div>
			</li>
		</div>
	
</tr>