<div class="container">
	<fieldset>

	 	<div id="comp-block">
      
      <div class="row">
	      <div class="col-xs-4 col-sm-4 col-md-4 ">
	        <div class="form-group">
				    <%= f.label :name , "Component Name:", :class => "label label-default" %>	        	
				    <%= f.text_field :name , :class => "form-control", :placeholder => "Component Name" %>
	        </div>
	      </div>

	      <div class="col-xs-6 col-sm-6 col-md-2">
	        <div class="form-group">
				    <%= f.label :name , "Component Weight:", :class => "label label-default" %>	        	
					  <%= f.number_field :component_weight, :class => "form-control", :placeholder => "Component Weight" %> 
					  <%= f.hidden_field :_destroy %> 
	        </div>
	      </div>
      </div>

	    <div id="comp-title"> 
		    <h4 class= "col-md-1 col-xs-6 col-sm-4 col-md-offset-6">Marks:</h4>

				<div id="add-mark-btn">
					<%= link_to_add_fields "Add Mark", f, :evaluations %>
	    	</div>

		  </div>	 

				<%= f.fields_for :evaluations, f.object.evaluations do |eval| %>
					<%= render 'evaluation_fields', f: eval %> 
				<% end %> 
									
			</br>				
			
			<div class="pull-right">
				<%= link_to "Delete Component", '#', class: "remove_fields", :value => f.object.id%> 
			</div>
		</div>
		
	</fieldset>
</div>

