<%= form_for @course, html: {role: :form} do |f| %>
  
  <% if @course.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
    </br>
      <h2>    
        <i class="fa fa-exclamation-triangle"></i>
        <%= pluralize(@course.errors.count, "error") %>: Oops! You've entered something wrong.

      </h2>
      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </br>
    </br>
    </div>
  <% end %>

<!-- COURSE NAME -->
  <div class="field text-center form-group go-right">
    <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Course Name", :tabindex => "1" %>
  </div> </br>

  <div> 
    <div id="comp-title"> 
      <h3 class='page-header'>Components:</h3>
    </div>

    <!-- COMPONENTS -->
     <%= f.fields_for :components, @components do |builder| %>
      <%= render 'component_fields', f: builder %> 
     <% end %> <br /> 
     <h4> <%= link_to_add_fields "Add Component", f, :components %> </h4>

  </div>

<!-- FOOTER -->
  <div class="pull-right" id="edit-comp-footer">
    <%= f.submit :value => "Update Course", :class => "btn btn-primary", :tabindex => "7" %>
  </div>

<% end %>


