<%= form_for @course, html: {role: :form} do |f| %>
  
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- COURSE NAME -->
  <div class="field text-center form-group go-right">
    <%= f.text_field :name, :class => "form-control input-lg", :placeholder => "Course Name", :tabindex => "1" %>
  </div> </br>


<div class="container"> 
  
  <div id="comp-title"> 
    <h3>Components:</h3>
  </div>

  <!-- COMPONENTS -->
   <%= f.fields_for :components, @components do |builder| %>
    <%= render 'component_fields', f: builder %> 
   <% end %> <br /> 
       <p> <h4> <%= link_to_add_fields "Add Component", f, :components %> </h4></p>

</div>

<!-- FOOTER -->
  <div class="pull-right" id="edit-comp-footer">
    <%= link_to 'Cancel', f.object,  :class => "btn btn-danger"%>
    <%= f.submit :value => "Update Course", :class => "btn btn-primary", :tabindex => "7" %>
  </div>

<% end %>


