<h1 class="page-header">
	<%= current_user.profile_name.capitalize %>'s Courses
</h1>

<div class="well ">
		<% if current_user.courses.all.count == 0 %> 
			<h3 id="add-course-message"> Create some courses to get started with Gradster! </h3>
		<% else %> 	
			<% current_user.courses.each do |course| %>
				  <div class="course"> 
					  <h3 class="col-md-12" style="font-size: 24px;"> 
					  	<%= link_to course.name.upcase , course %> 
							<div class="pull-right" > 
								<%= link_to " Edit", edit_course_path(course), :class => 'btn btn-default btn-sm fa fa-cogs' %>
					    </div>
					  </h3> </br>
					    <!-- EXPANDABLE PANEL -->
					    <div class="row">
					        <div class="col-md-12">
					            <div class="panel panel-primary">
					                <div class="panel-heading clickable">
					                    <h3 class="panel-title">
					                    	<% course.grade = 0 if course.components.count == 0 %>
					                    	<% if course.grade == 0 %> 
													  			<p> No Marks Added </p> 
													  		<% else %> 
														  		<strong> Grade: </strong> <%= course.grade.round(2)%> %
														  	<% end %> 
														  </h3>
					                    <span class="pull-right">
					                    	<i class="glyphicon glyphicon-minus"></i>
					                    </span>
					                </div>
					                <div class="panel-body">
					                	<!-- DISPLAY COURSE COMPONENTS -->
					                	<% course.components.each do |components| %>
						                	<div id="component-overview">
						                		<span>
								                	<strong> <%= components.name %> </strong> 
								                	<em>(<%=components.component_weight%>%)</em>: 
								                	<div class="component-grade" >
									                	<% if components.grade == 0 %>  
									                		You haven't added any marks yet.
									                	<% else %> 
										                	<%= components.grade%>% 
								                		<%end%> 
										              </div> </br>
							                	</span> 
								               </div> 	
					                	<%end%> 
					                </div>
					            </div>
					        </div>
					    </div>    
				  </div>
			<%end%>	
	<% end %> 
</div>

<div class="add-course-btn">
		<%= link_to 'Create Course', '#add-course-modal', 'data-toggle' => 'modal',	:class => 'btn btn-success' %>
</div>

<!-- ADD COURSE MODAL -->
<div class="modal fade" id="add-course-modal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Create Course</h2>
      </div>

      <div class="modal-body">
				<%= render :partial => 'courses/new_course',  modal: true %>
      </div>
	 
    </div>
  </div>
</div>

