<h1 class="page-header">
	<%= current_user.profile_name %>'s Courses
</h1>

<% @courses.each do |course| %>
 	<% if (course.user_id == current_user.id) %>
	  <div class="course"> 
		  <strong> <%= course.name %></strong> 

		  <br>
			  Course id:<%= course.id %>
			  Current User id:<%= current_user.id %>
			  Course Creator User id:<%= course.user_id %>	
		   </br>		  

		  <div class="meta"> 
		    <span> 
		      | <%= link_to "Show Course", course %>  |
		      <%= link_to "Delete", course, method: :delete,
		       	data:{confirm: "Are you sure you want to delete this?"} %>  |
		    </span>
		  </div>
	  </div> 
	<% end %>
  
<% end %> 
<br />

<div class="add-course-btn">
	<a class="btn btn-success btn-sm" role="button" href="courses/new" >Add Course</a>	
</div>


