<p id="notice"><%= notice %></p>

<span>
<div class="title">
	  <strong>Name:</strong>
	  <%= @course.name %>
</div>

| <%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> |

</span>

<div class="components">
	<h4> Components </h4>
	<span>
    	<ol>
		    <% @course.components.each do |component| %>
		    	<div class="component">
			    	<li>
					     <%= component.name %>  -> 
					     <%= component.component_weight %> %
					  	 | <%= link_to 'Edit', edit_course_component_path(component.course, component)%> |
					  	  <%= link_to "Delete", polymorphic_url(@course), method: :delete, data:{confirm: "Are you sure you want to delete this?"} %> |
					  	  
					  	  <ul>
							<li>
								  <%= link_to "Add Evaluation" ,new_course_component_evaluation_path(component.course, component, @evaluation)%> |
								    <%= link_to "Delete", '#'%> |
							</li>
						  	<li>MARKS: 
						  		<ul>
							  		<% component.evaluations.each do |eval| %>
							  			<li> <%= eval.mark %>% , </li> 
							  		<% end %>
						  		</ul>
						  	</li>
						  </ul> 
					</li>
				</div>
		    <% end %>
		<ol>
	</span>

</div>	



<div class="add_component_button">
<button type="button" class="btn btn-info">
	<%= link_to 'Add Component', new_course_component_path(@course, @component) %>
</button>
</div>