<p id="notice"><%= notice %></p>

<span>
<div class="title">
	  <strong>Name:</strong>
	  <%= @course.name %>
</div>

| <%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> |

</span>

<div class="components">
	<h4> Components </h4>
	<span>
    	<ol>
		    <% @course.components.each do |component| %>
		    	<div class="component">
			    	<li>
					     <strong> <%= component.name %> weight: </strong> 
					 	<%= component.component_weight %> % <br />

						 <div id="control">
						  	 | <%= link_to 'Edit', edit_course_component_path(component.course, component)%> |
						  	  <%= link_to "Delete Component", course_component_path(component.course, component), 
						  	  		method: :delete, data:{confirm: "Are you sure you want to delete this?"} %> |
							  <%= link_to "Add Evaluation" ,new_course_component_evaluation_path(component.course, component, @evaluation)%> |
						 </div> 
					  	  
					  	 
						  	<div id="marks">
							  	MARKS: 
							  		<ul>
								  		<% component.evaluations.each do |eval| %>
								  			<li> <%= eval.mark %>%  
								  				<%= link_to "Remove Mark", course_component_evaluation_path(eval.component.course, eval.component, eval), method: :delete %> 
								  			</li> 
								  		<% end %>
							  		</ul>
						    </div>

						  <div id="component-grading">
							  <em>Component Grade:  <%= Evaluation.where(:component_id => component.id).average(:mark) %> </em> <br />
	  						  <em>Component Weight Grade: <%= component.component_weight.to_f/100  %> </em>
  						 </div> 

 					</li>
				</div>
		    <% end %>
		<ol>
	</span>

</div>	



<div class="add_component_button">
<button type="button" class="btn btn-info">
	<%= link_to 'Add Component', new_course_component_path(@course, @component) %>
</button>
</div>