<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>




<br />


<p>

</p>	


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> 
<br />
<button type="button" class="btn btn-info"><%= link_to 'Add Component', new_component_path(@course) %></button>