<div class="title">
  <h1 class="page-header">
  	<%= link_to @course.name, edit_course_path(@course) %>
  	<div class="add_component_button">
			<%= link_to 'Add Component', new_course_component_path(@course, @component), :class => 'btn  btn-success'%>
		</div>
  </h1>

</div>



<% @course.grade = 0.0 %>

<div class="components">
	<span>
    	<ol>

    		<!-- COMPONENTS -->
		    <% @course.components.each do |component| %>
		    	<div class="component">
			    	<li>
			    		<span>
						    <strong> <%= link_to component.name, edit_course_component_path(component.course, component)%>: </strong> 
						 		<%= component.component_weight %>% 

							 <div id="control">
								<%= link_to "Add Marks" ,new_course_component_evaluation_path(component.course, component, @evaluation), :class => 'btn btn-sm btn-primary' %> 
								
							 </div> 
						</span>
					  	  
				  	 	<span>
						  	<div id="marks">

								  		<ul>
								  			<% if component.evaluations.all.count == 0 %>
									  				<div id="add-mark-message"> Add some marks in! </div>
									  		<% else %>
									  			<strong> Marks: </strong> 
										  		<% component.evaluations.each do |eval| %>
										  			<li> <%= eval.mark %>%  
										  				<%= link_to "Remove Mark", course_component_evaluation_path(eval.component.course, eval.component, eval), method: :delete %> 
										  			</li>
										  		<% end %>
									  		<% end %> 
								  		</ul>
							    </div>
							  <div id="component-grading">
							  	<% comp_grade = Evaluation.where(:component_id => component.id).average(:mark).to_f.round(2) %>
							  	<% comp_grade_weight =  ( (component.component_weight.to_f/100) * (Evaluation.where(:component_id => component.id).average(:mark).to_f.round(2)) ).round(3) %> 
							  	<% unless comp_grade_weight == 0.0 %>
									  <em>Component Grade: <%= comp_grade %>
									  </em> <br />
			  						  <em>Component Weight Grade: 
			  						  	<%= comp_grade_weight %>  </em>
									    	<%  @course.grade += comp_grade_weight %>

									    	</br> <%= @course.grade %>
		  						 </div>
	  						 <% end %> 
  						</span>

		 					</li>
						</div>
			    <% end %>

    		<!-- FINAL COURSE GRADE -->
    		<% if (@course.components.all.count == 0)  %> <!-- No components created -->
	    		<div class="add-comp-message"> 
	    			<span> <h3> Add a component to get started! </h3> </span>				 
	    		</div>

	    	<% else %>

	    		<div class="final-grade">
		    		<span> <h3> Grade: <%=  @course.grade.to_f %></h3> </span>  
		    		<% @course.save %> 				 
	    		</div>
	    	<% end %>	

		<ol>
	</span>

</div>	
<%= link_to 'Back', courses_path %> 