<p id="notice"><%= notice %></p>

<div class="title">
	<p>
	  <strong>Name:</strong>
	  <%= @course.name %>
	</p>
</div>

<div class="components">
	<h4> Components </h4>
	<span>
	    <% @course.components.each do |component| %>
	      | <%= component.name %> | 
	      <%= component.component_weight %> |
	    <% end %>
	</span>

</div>	


| <%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> |

<div class="add_component_button">
<button type="button" class="btn btn-info">
	<%= link_to 'Add Component', new_course_component_path(@course, @component) %>
</button>
</div>