<p id="notice"><%= notice %></p>

<div class="title">
	  <strong>Course:</strong>
	  <%= @course.name %>
</div>

<div class="main-control">
	| <%= link_to 'Edit', edit_course_path(@course) %> |
	<%= link_to 'Back', courses_path %> |
</div>

<% grade_counter = 0 %>

<div class="components">
	<span>
    	<ol>

    		<!-- COMPONENTS -->
		    <% @course.components.each do |component| %>
		    	<div class="component">
			    	<li>
			    		<span>
						    <strong> <%= component.name %> weight: </strong> 
						 		<%= component.component_weight %>% 

							 <div id="control">
							  	 | <%= link_to 'Edit', edit_course_component_path(component.course, component)%> |
							  	  <%= link_to "Delete Component", course_component_path(component.course, component), 
							  	  		method: :delete, data:{confirm: "Are you sure you want to delete this?"} %> |
								  <%= link_to "Add Marks" ,new_course_component_evaluation_path(component.course, component, @evaluation)%> |
							 </div> 
						</span>
					  	  
				  	 	<span>
						  	<div id="marks">
								  	<strong> Marks: </strong> 
								  		<ul>
								  			<% if component.evaluations.all.count == 0 %>
									  				<div id="add-mark-message"> Add some marks in! </div>
								  			<% end %>
									  		<% component.evaluations.each do |eval| %>
									  			<li> <%= eval.mark %>%  
									  				<%= link_to "Remove Mark", course_component_evaluation_path(eval.component.course, eval.component, eval), method: :delete %> 
									  			</li>
									  		<% end %>
								  		</ul>
							    </div>
							  <div id="component-grading">
							  	<% comp_grade = Evaluation.where(:component_id => component.id).average(:mark).to_f.round(2) %>
							  	<% comp_grade_weight =  ( (component.component_weight.to_f/100) * (Evaluation.where(:component_id => component.id).average(:mark).to_f.round(2)) ).round(3) %> 
							  	<% unless comp_grade_weight == 0.0 %>
									  <em>Component Grade: <%= comp_grade %>
									  </em> <br />
			  						  <em>Component Weight Grade: 
			  						  	<%= comp_grade_weight %>  </em>
									    	<% grade_counter += comp_grade_weight %>
		  						 </div>
	  						 <% end %> 
  						</span>

		 					</li>
						</div>
			    <% end %>

    		<!-- FINAL COURSE GRADE -->
    		<% if (@course.components.all.count == 0)  %> <!-- No components created -->
	    		<div class="add-comp-message"> 
	    			<span> <h3> Add a component to get started! </h3> </span>				 
	    		</div>

	    	<% else %>

	    		<div class="final-grade">
		    		<span> <h3> Final Grade: <%= grade_counter.to_f.round(2) %> </h3> </span>				 
	    		</div>
	    	<% end %>	

		<ol>
	</span>

</div>	



<div class="add_component_button">
<button type="button" class="btn btn-info">
	<%= link_to 'Add Component', new_course_component_path(@course, @component) %>
</button>
</div>