<!DOCTYPE html>
<html>
<head>
  <title>Gradster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<!-- NAVBAR -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-bearder>">
			<a class="navbar-brand" href="#">Gradster</a>
				<ul class="nav navbar-nav">
					<li><%= link_to "All Courses", courses_path %></li>
					<li><%= link_to "New Course", new_course_path %></li>
				</ul>
		</div>
	</nav>		

<div class ="container">
	<%= yield %>
</div>

</body>
</html>
